<footer class="footer">
  <div class="container text-center">
      <a href="https://www.facebook.com/winnie.street.5"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/isabelstreet1/"><i class="fa fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/isabelstreet"><i class="fa fa-linkedin"></i></a
  </div>
</footer>
