<style>
  a:hover {
    background: transparent;

  }
</style>
<div class="flex-container">
  <div class="logo">
  <%= link_to root_path do %>
    <%= image_tag 'logo.png', class: "img-logo" %>
  <% end %>
</div>
<h1 class="name">
  WINNIE STREET
</h1>
</div>
