<div id="about" class="row about_rows">
  <div class="col-md-6 photo_row">
    <%= image_tag "meski.jpg", :class => "me_ski" %>
  </div>

  <div class="col-md-6 about_row">
    <h1 class="text-centre about">
      Hi!
    </h1>
    <p class="text-centre about_para">
    My name is Winnie and I am a junior developer and a VR designer.
    My main area of interest is using new technologies such as VR and AI to improve
    people's lives and spread empathy. Please take a look at my portfolio, and get
    in touch if there is a project that you think we could work on together!
    </p>
  </div>
</div>
