<div class="row">
  <div class="col-md-6">
    <div>
      <%= render 'enquiries/form', enquiry: @enquiry %>
    </div>
  </div>
  <div class="col-md-6">
    <%= image_tag "Horse.png" %>
  </div>
</div>
