<div class="leftside">
    <%= image_tag("ladybird.png", :class => "leftside") %>
    <!-- <div class="container">
    <h1 class="text-center name">
      WINNIE STREET
    </h1>
    <h2 class="text-center desc">
      Junior Developer & Virtual Reality Designer
    <h2>
  </div> -->
</div>
