// h2 {
//   font-size: 40px;
//   text-align: center;
// }

// .field {
//   text-align: center;
// }
.actions {
  text-align: center;
}

a {
  text-align: center;
  color: #FF1493;
}

.card{

  // padding-left: 30%;
}
.login {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #FF1493;
}
