// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  height: 100%;

}

body {
  height: 100%;
}

div.logo {
  display:block;
  z-index: 6;
  padding-left: 47.5vw;
  padding-right: 47.5vw;
  padding-top: 3vh;
  position: absolute;

}
.logo {
  height: 60px;
  width: 60px;
}

.leftside{
  background: cover;
  background-image: url("http://photofiles.alphacoders.com/259/25903.jpg");
  height: 100vh;
}

.rightside{
  background-image: url("http://img-fotki.yandex.ru/get/4711/14124454.285/0_7af2e_30a4bc3b_XXL");
  height: 100vh
}

a {
  text-decoration:none;
  color:white;
}
a:focus, a:hover{
  background-color: white;
  color:black;
  text-decoration: none;
}

.name {
  position:absolute;
  z-index: 1;
  width: 100%;
  font-family: 'Fredoka One';
  font-size: 13vh;
  color: white;
  margin-top: 40vh;
  text-align: center;

}
.cd {
  color: white;
  text-decoration: none;
  margin-top: 55vh;
  font-size: 3vh;
  font-family: 'Montserrat', sans-serif;
}
.cd:hover {
  color: blue;
  text-decoration: none;
  margin-top: 55vh;
  font-size: 3.2vh;
  float: bottom;
  background: transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.nav-style>li{
  font-size: 15px;
  display: inline-block;
  margin-right: 30px;
  color:white;
  margin-top: 15px;
  /*position: absolute;*/
}

.about_rows {
  height: 100vh;

}


.about {
  font-family: 'Montserrat', sans-serif;
  margin-top: 20vh;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.about_para {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: justify;
  font-size: 20px;
  // margin-left: 20vw;
  // margin-right: 20vw;
  // margin-bottom: 30vh;
  // margin-top: 10vh;
  padding: 5vw;
}

.footer {
    bottom: 0;
    width: 100%;
    // background: #061D25;
    background-color: transparent;
    padding: 10px 0;
}

.footer a {
    color: white;
    font-size: 40px;
    padding: 10px;
    border-right: 1px solid #70726F;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.footer a:hover {
    color: blue;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background: transparent;
}
.imageContainer {
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}

.me_ski {
  height: auto;
  width: 50vw;

}

.eye_tilt {
  // height: 50vh;
  width: 100%;
  overflow: hidden;
  animation: zoom 20s infinite;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes zoom {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
        opacity: 0;
    }
}
@-webkit-keyframes name {
	0% { -webkit-transform: scale(1); }
	50% { -webkit-transform: scale(0.9); }
	100% { -webkit-transform: scale(1); }
}

.name
{
	-webkit-animation-name: name;
	-webkit-animation-duration: 200ms;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-timing-function: linear;
}
